*/*.log
*/*.aux
*/*.toc
*/*.out
*/*.synctex.gz
*/.DS_Store
*/__MACOSX
*/*/*.log
*/*/*.aux
*/*/*.toc
*/*/*.out
*/*/*.synctex.gz
*/*/.DS_Store
*/*/__MACOSX
.DS_Store
beamline/manual/beamline_manual.synctex.gz
